.mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  
  .mat-tab-link {
    padding: 12px 20px;
    font-size: 16px;
  }
  

  .navLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .right_button_panel{
    display: flex;
    
  }

  .logo_image{
    margin-top: 0.8rem;
  }