/* 
:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  mat-card {
    width: 500px; 
    padding: 20px;
    text-align: center;
  }
  
 
  
  button {
    margin-top: 20px;
  }
   */

   .signup-container{
    margin: 5rem;
   }

   .form_title{
    text-align: center;
   }

   .signup_form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .full-width{
    width: 60%;
  }

  
  .signup_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   }
   