
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Experience
          <!-- experienceList.length !== 0 && userDetails && this.userDetails.user.username === experienceList[0].user.username -->
          <button *ngIf="this.userDetails?.user?.username === experienceList[0]?.user?.username" routerLink="/add-experience" class="add_exp" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>add</mat-icon>
          </button>
        </mat-panel-title>
        
      </mat-expansion-panel-header>
      <div *ngFor="let exp of experienceList">
        <app-experience-card [experience]="exp"></app-experience-card>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  