.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-button {
    margin: 10px;
  }
  
  .account-link {
    margin-top: 20px;
  }