.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-button {
    margin: 10px;
  }
  
  .account-link {
    margin-top: 20px;
    color: black;
    border: 1px solid black;
    padding: auto;
    font-weight: 900;
    text-decoration: solid;
  }