<mat-card>
  <mat-card-header class="education_header">
    <mat-card-title>{{ education.instituteName }}</mat-card-title>
    <button *ngIf="this.userDetails.user.username === education.user.username"  (click)="onDeleteEducation(education.id)" mat-mini-fab color="accent"
      aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p>{{ education.description }}</p>
    <p>
      <strong>Start Date:</strong> {{ education.startDate | date }}
    </p>
    <p>
      <strong>End Date:</strong> {{ education.endDate | date }}
    </p>
  </mat-card-content>
</mat-card>